#sidebar {
  height: 100%;
  max-width: 18%;
  max-height: 662.41px;
  float: right;
  overflow-x: hidden;
  overflow-y: auto;
}

#map {
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 28%;
  left: 0;
}

.leaflet-marker-icon.selectedMarker {
  color: red;
}
